
  .column {
    width: 600px;
    margin-bottom: 20px;
    align-items: center;
    margin-block-start: 10px;
    margin-block-end: 10px;
  }
  
  .row {
    height: 200px;
    display: grid; /* Add your desired background color */
    margin-block-start: 10px;
    margin-block-end: 10px;
    border-radius: 8px;
  }
  