
  .column {
    width: 600px;
    margin-bottom: 20px;
    align-items: center;
    margin-block-start: 10px;
    margin-block-end: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .row {
     /* Add your desired background color */
    margin-block-start: 10px;
    margin-block-end: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  