.App {
  text-align: center;
}
.App-header-custom {
  width: auto;
height: 182px;
flex-shrink: 0;
border-radius: 15px;
background: #A379BC;
}
.gym-name{
  color: #000;
font-family: Noto Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: fixed;
margin-left: 88px;
margin-right: auto;
margin-top:51px ;
margin-bottom: 141px;

}