/* Style for the dropdown container */
.dropdown-container {
    display: flex; /* Use flexbox to align horizontally */
    align-items: center; /* Vertically align dropdowns */
    margin-top: 30px; /* Adjust margin-top as needed */
  }
  
  /* Style for individual dropdowns */
  .select-dropdown {
    margin-right: 20px; /* Add space between dropdowns */
  }
  
  /* Style for dropdown labels */
  label {
    color: #4d1c1c;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-weight: bold;
  }
  
  /* Style for dropdown select elements */
  select {
    width: 265px;
    height: 26px;
    flex-shrink: 0;
    border: 1px solid #ccc; /* Add border as needed */
    border-radius: 5px;
    background: #BD9CD0; /* Set the background color */
    color: #000; /* Text color (if needed) */
  }
  